{% extends "RideChicagoAutoBundle::Default/default.html.twig" %}

{% block content %}

<div id="squeeze">
	<div class="right-corner"><div class="left-corner">




			<div class="middle-content">     


				<a id="main-content"></a>
				<div id="tabs-wrapper" class="clearfix">                  

				</div>                                      
				<div class="clearfix">
					<div class="region region-content">
						<div id="block-system-main" class="block block-system clearfix">


							<div class="content">
								<div id="node-101" class="node node-inner-banner-page node-promoted" about="/classes" typeof="sioc:Item foaf:Document">





									<div class="content clearfix">
										<div class="inner_banner">



											<img typeof="foaf:Image" src="/sites/default/files/styles/inner_banner/public/clasess_banner.png" width="1053" height="230" alt="">
										</div>


										<h2 class="inner_title">


											<img src="sites/default/files/classes_icon.png " align="left"> 
											Classes   </h2>


										<div class="inner_content">



										</div>


									</div>

									<div class="clearfix">
										<div class="links"></div>


									</div>

								</div>


							</div>
						</div>
						<div id="block-views-class-list-block" class="block block-views clearfix">


							<div class="content">
								<div class="view view-class-list view-id-class_list view-display-id-block view-dom-id-ad34c6ede7882af093f5ef96c8694448">
									<div class="view-header">

									</div>



									<div class="view-content">
										<div class="item-list">      <h3>Classes for Adults</h3>



											<div class="showcart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
 
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="/sites/default/files/class_4.jpg" width="231" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/adult-driving-lessons-18">Adult Driving Lessons (18+)</a></div>
																		<div class="class_body"><h4>Private training sessions available in 2 hour increments.&nbsp; Drive when it’s convenient for you!</h4>
																			<h4>2 hours -$99</h4>
																			<h4>4 hours -$185</h4>
																			<h4>6 hours -$270</h4>
																			<h4>8 hours -$360</h4>
																			<h4 align="center" style="color: rgb(34, 34, 34); font-family: arial,sans-serif; line-height: normal; text-align: center;"><span style="font-size: 8pt; line-height: 12px;">Home pick up / drop off available.&nbsp; Distance parameters apply</span>.</h4>
																			
																			<h4 class="enroll-title">Enroll For:</h4>
																			{% for lessonRate in lessonRates %}
																			 <div class="submit_cart lesson-rate-reg-btn"><a href="/register?rate={{lessonRate.id}}">{{lessonRate.duration}} hours</a></div>
																			{% endfor %}
																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div><div class="item-list">      <h3>Classes for teens</h3>



											<div class="hidecart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
														
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="/sites/default/files/class_2.jpg" width="231" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/teen-driving-class-15-17">Teen Driving Class (15-17)</a></div>
																		<div class="class_body"><h4><b>Basic Driving&nbsp;<span class="il">Class</span>&nbsp;-&nbsp;&nbsp; </b>30 hours classroom, 6 hours driving, 6 hours observation. $450* <em>(Must register with a partner)</em></h4>
																			<h4><b>Skilled Driver&nbsp;<span class="il">Class</span>&nbsp;-&nbsp;</b>30 hours classroom, 8 hours private 1 on 1 driving instruction.&nbsp;&nbsp;-$495 &nbsp;<em> ( No partner required** our most popular class!)</em></h4>
																			<h4><b>Driving only</b>-&nbsp; Classroom already completed at your school:&nbsp;&nbsp;8 hours private 1 on 1 driving -$360</h4>
																			<h4><strong>Driving only</strong>-&nbsp; Classroom already completed at your school:&nbsp; 6 hours driving, 6 hours observation ( with partner) -$320/each</h4>
																			<h4 align="center"><b>&nbsp;</b><span style="font-size: 8pt; line-height: 12px;">Home pick up / drop off for driving available. &nbsp; Distance parameters apply.</span></h4>
																			
																			<h4 class="enroll-title">Enroll For:</h4>
																			{% for lessonRate in lessonRates %}
																			 <div class="submit_cart lesson-rate-reg-btn"><a href="/register?rate={{lessonRate.id}}">{{lessonRate.duration}} hours</a></div>
																			{% endfor %}
																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div><div class="item-list">      <h3>Extended Driving classes</h3>



											<div class="hidecart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
														
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="/sites/default/files/class_1.jpg" width="233" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/extended-driving">Extended Driving</a></div>
																		<div class="class_body"><h4><strong>Extended Driving:</strong></h4>
																			<h4>50 Hours of Practice- Chicago Driver Training - $1950<br>
																				24 Hours of Practice- Chicago Driver Training - $995</h4>
																			<h4>Other Additional Driving time packages ( behind the wheel)<br>
																				2 hours -$99<br>
																				4 hours -$195<br>
																				6 hours -$285<br>
																				8 hours -$360</h4>
																			<h4 class="enroll-title">Enroll For:</h4>
																			{% for lessonRate in lessonRates %}
																			 <div class="submit_cart lesson-rate-reg-btn"><a href="/register?rate={{lessonRate.id}}">{{lessonRate.duration}} hours</a></div>
																			{% endfor %}
																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div><div class="item-list">      <h3>Licensing</h3>



											<div class="hidecart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
														
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="/sites/default/files/dmv.jpg" width="231" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/dmv-testing">DMV Testing</a></div>
																		<div class="class_body"><h4>Available to any student with a minimum 2 hours training to ensure success. $125&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Meet instructor and vehicle at the DMV- $105</h4>

																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div>    </div>






								</div>  </div>
						</div>
					</div>
				</div>

			</div> <!-- /#middle-content -->



			<div class="clear"></div>
		</div></div></div>


{% endblock %}