{% extends "RideChicagoAutoBundle::Default/default.html.twig" %}

{% block content %}

<div id="squeeze" class="schedule-viewer">
	<div class="right-corner"><div class="left-corner"><div class="middle-content">     
				<div class="clearfix"><div class="region region-content"><div id="block-system-main" class="block block-system clearfix">

<div class="content">
	<div class="view view-schedule-view view-id-schedule_view view-display-id-page view-dom-id-cc9ab838fd90a5f4ef5a3ad38a4504e2">
		<div class="view-header">
			<h2 class="inner_title">  
				<img align="left" src="/sites/all/themes/chicago_riders_wakensys/images/schedule_icon.png "> class schedule </h2>
			<span class="img"><img align="left" src="/sites/all/themes/chicago_riders_wakensys/images/schedule_banner.png "> </span>
			<div class="clear"></div>

			<!--
			<div class="calendar_hd">
				<ul>
					<li class="jan" id="01"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=1">jan</a></li>
					<li class="feb" id="02"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=2">feb</a></li>
					<li class="mar" id="03"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=3">mar</a></li>
					<li class="apr" id="04"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=4">apr</a></li>
					<li class="may" id="05"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=5">may</a></li>
					<li class="jun" id="06"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=6">jun</a></li>
					<li class="jul" id="07"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=7">jul</a></li>
					<li class="aug" id="08"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=8">aug</a></li>
					<li class="sep" id="09"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=9">sep</a></li>
					<li class="oct" id="10"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=10">oct</a></li>
					<li class="nov" id="11"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=11">nov</a></li>
					<li class="dec" id="12"><a href="/schedule?sdate[value][year]=2013&amp;sdate[value][month]=12">dec</a></li>
					<li class="all" id="00"><a href="/schedule">all</a></li>
				</ul>
				<div class="clear"></div>
			</div>-->

		</div> 

		<script class="schedule-template" type="text/x-handlebars-template">
			{% raw %}
			<tr class="">
				<td>
					{{code}}
				</td>
				<td class="views-field views-field-nothing-2 hidecart">

					<strong>Start:</strong> {{formatDate classStartDate}}
					<br />
					<strong>End:</strong> {{formatDate classEndDate}}

				</td>



				<td class="views-field views-field-nothing-1 hidecart">
					{{#each classDays}}
						<div>{{@key}} at {{this.start}} to {{this.end}}</div>
					{{/each}}
				</td>




				<td class="views-field views-field-php-1 views-align-center hidecart">
					{{location}}
				</td>
			</tr>
			{% endraw %}
		</script>


		<div class="view-content">
			<table class="views-table cols-8">
				<thead>
					<tr>
						<th style="width: 100px" class="views-field views-field-nothing-2">
							Identifier          </th>
						<th style="width: 130px;" class="views-field views-field-nothing-2">
							Start Date   End Date          </th>
						<th class="views-field views-field-nothing-1">
							Days &amp; Time          </th>
						<th class="views-field views-field-php-1 views-align-center">
							Location          </th>
						</th>
					</tr>
				</thead>
				<tbody class="schedule-putput">

					
				</tbody>
			</table>
				</div>






	</div>  </div>

						</div></div></div></div></div></div>
</div>


{% endblock %}